.Weather {
  padding: 20px;
  border: 1px solid rgb(255, 194, 203);
  border-radius: 5px;
  max-width: 600px;
}

body {
  font-family: Arial, sans-serif;
  color: rgb(255, 0, 128);
}

.Weather h1 {
  text-align: center;
  font-size: 64px;
  font-weight: 100;
  line-height: 28.8px;
  margin-top: 5px;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather .current-time {
  color: #89cff0;
  font-size: 14px;
  margin-top: 0;
  text-align: right;
}
.Weather li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
}
.Weather li:first-letter {
  text-transform: capitalize;
}

.WeatherInfo {
  margin-bottom: 20px;
}
.Weather canvas {
  margin-right: 5px;
  margin-top:5px;
  display: inline-block;
}
.Weather .temperature {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.Weather .unit {
  position: relative;
  font-size: 16px;
  top: -34px;
  margin-left: 0px;
}

.Weather .temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 22px;
  text-align: center;
  color: rgb(255, 0, 128);
}
.weather-forecast-date {
  font-size: 18px;
  opacity: 0.9;
  color: #89cff2;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 16px;
  color: #878787;
}
.desc {
  color: #878787;
}

.search-button {
  color: rgb(255, 194, 203);
  background: rgb(255, 0, 128);
  border-radius: 80px;
  opacity: 50;
  border: none;
  padding: 10px;
}

.search-button:hover {
  background: rgb(255, 194, 203);
  color: rgb(255, 0, 128);
  border-radius: 50px;
  cursor: grab;
  opacity: 50;
}
.weather-forecast-day:hover {
  background: rgb(255, 194, 203);
  color: rgb(255, 0, 128);
  border-radius: 50px;
  cursor: point;
  opacity: 50;
}
