.Weather {
  margin-top: 30px;
  padding: 20px;
  border: 1.5px solid rgb(255, 194, 203);
  border-radius: 5px;
  max-width: 600px;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 0, 128);
}

.Weather h1 {
  font-size: 64px;
  font-weight: 100;
  line-height: 61px;
  text-align: center;
}
.Weather form {
  margin-bottom: 20px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather .desc {
  color: #878787;
  font-size: 14px;
  margin-top: -40px;
  text-align: right;
}
.Weather li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 100;
  line-height: 19px;
}
.Weather li:first-letter {
  text-transform: capitalize;
}

.WeatherInfo {
  margin-bottom: 20px;
}
.Weather canvas {
  margin-right: 5px;
  margin-top: 5px;
  float: left;
}
.Weather .temperature {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
  float: left;
}
.Weather .unit {
  position: relative;
  font-size: 16px;
  top: -1px;
  margin-left: 0px;
  float: left;
}
.Weather .unit a {
  text-decoration: none;
  color: #89cff2;
}

.Weather .temperature .active:hover {
  text-decoration: none;
}
